body, body * {
    font-family: sans-serif;
}

#mainContainer {
    position: relative;
    top: 50px;
}

#game {
    position: relative;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin: auto;
    width: 310px;
    height: 310px;
    box-sizing: border-box;
    background-color: rgb(200, 255, 255);
    border: 5px solid rgb(255, 75, 255);
}

#menu, #winner, #restart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 310px;
    height: 80px;
    box-sizing: border-box;
    color: black;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    border: 7px solid rgb(255, 75, 255);
}

#menu {
    height: 100px;
    background-color: rgb(100, 150, 255);
    border-bottom: none;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#winner {
    height: 80px;
    background-color: rgb(0, 255, 50);
    border-bottom: none;
}

#restart {
    height: 60px;
    background-color: rgb(255, 150, 50);
    border-radius: 10px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#restart {
    cursor: pointer;
}

input {
    margin-top: 10px;
    height: 25px;
    text-align: center;
    font-size: 15px;
    border: 3px solid rgb(255, 150, 50);
}

.cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    border: 2px solid rgb(255, 75, 255);
    user-select: none;
}

.cell:hover {
    cursor: crosshair;
}